@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@layer base {
  body {
    @apply text-white;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
  }
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
}

@keyframes shine {
  0% { background-position: 0% 0; }
  100% { background-position: 200% 0; }
}


