.curva::after {
    content: "";
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    border-radius: 0 0 100% 100%;
    background-color: red;
  }